@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge-new {
    @apply bg-blue-600 hover:bg-blue-700 focus:ring-blue-800;
  }
  .badge-new-count {
    @apply bg-blue-200 text-blue-800;
  }

  .badge-link {
    @apply bg-yellow-600 hover:bg-yellow-700 focus:ring-yellow-800;
  }
  .badge-link-count {
    @apply bg-yellow-200 text-yellow-800;
  }

  .badge-known {
    @apply bg-green-600 hover:bg-green-700 focus:ring-green-800;
  }
  .badge-known-count {
    @apply bg-green-200 text-green-800;
  }

  .badge-unique {
    @apply bg-slate-600 hover:bg-slate-700 focus:ring-slate-800;
  }
  .badge-unique-count {
    @apply bg-slate-200 text-slate-800;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
